@model TestAssignment.Entity.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete Product</h1>

<div>
    <h3>Are you sure you want to delete this item?</h3>
    <div>
        <h4>Product: @Model.Name</h4>
        <p><strong>Price:</strong> @Model.Rate</p>
        <p><strong>Category:</strong> @Model.Category</p>
    </div>
</div>

<form asp-action="DeleteConfirmed" asp-controller="Product" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>
